*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
    scroll-behavior:smooth
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width:425px){
        padding: 0 20px;
    }
}