$text-black: #000000;
$text-black-l:#2D3033;
$text-gray:#6C7279;
$text-gray-l:#808080;
$text-white: #FFFFFF;


$red: #FF4343;
$red-hover: #E71414;
$red-dark: #B90C0C;
$logo-active: #656980;
$nav-link-hover:#BABBC5;

$testimonials: #5C3249;
$testimonials-dots: #7E5D6F;
$footer1:#353C65;
$footer2:  #2C3154;
$social-item:#C6CBCD;

$h1: 64px;
$h2: 36px;
$h3: 30px;
$h4: 24px;
$h5: 18px;
$h6: 13px;
$fs48: 48px;
$fs14: 14px;
$fs12: 12px;

$cardo: 'Cardo', serif;